img {
    width: 250px;
    height: auto;
        padding-left: 20px;
    padding-right: 45px;
}
h2 {
    color: white;
    font-family: monospace;
}

h4{
    color: white;
    font-family: monospace;
}
h5{
    color: white;
    font-family: monospace;
    padding-left: 40px;
    padding-right: 45px;
}
input {

    color: white;
    font-family: monospace;
    padding-left: 40px;
    padding-right: 45px;
}
img{

}
html, body {
    height: 100%;
}
form {
    font-family: monospace;
    display: flex;
    align-items: center;
    color: white;
    width: 150%;
    gap: 10px
}
body {
    /*background-image: url("/static/img/background.jpg");*/
    background-color: black;
    background-image: radial-gradient(rgba(33, 104, 234, 0.75), black 120%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /*position: absolute;*/
    font-size: 20px;
    top: 10px;
    left: 16px;
    max-width: 100%;
    height: 100vh;
    /*font-family: monospace;*/
    padding: 20px;
    color: white;
    font-family: "Chicago", monospace;
    text-shadow: 0 0 5px #C8C8C8;
}
body::before {
    content: "";
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;   /* <-- IMPORTANT: let clicks go through */
    z-index: 9999;
    height: 100vh;
    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 1px,
        transparent 2px,
        transparent 4px
        );
}

.tool-button {
    font-family: monospace;
    font-size: 20px;
    border: azure;
    border-radius: 15px;
    background-color: #174292;
    text-decoration-color: white;
    text-shadow:
        0 0 2px rgba(200, 220, 255, 0.9),
        0 0 6px rgba(120, 170, 255, 0.8),
        0 0 12px rgba(60, 120, 255, 0.6);
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: transform 150ms ease, background 200ms ease, box-shadow 200ms ease;
}
.tool-button:hover {
    background: #2ec7ea
}
.tool-button:focus {
    outline: 2px solid #99c7ff; outline-offset: 2px;
}
.tool-button.flash {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
}
