h2 {
    color: white;
    font-family: monospace;
}
h3 {
    color: white;
    font-family: monospace;
}

h4{
    color: white;
    font-family: monospace;
}
h5{
    color: white;
    font-family: monospace;
}

i {
    color: white;
    font-family: monospace;
}

form {
    font-family: monospace;
    display: flex;
    align-items: center;
    color: white;
    width: 150%;
    gap: 10px
}

body {
    /*background-image: url("/static/img/background.jpg");*/
    background-color: black;
    background-image: radial-gradient(rgba(33, 104, 234, 0.75), black 120%);
    /*position: absolute;*/
    top: 10px;
    left: 16px;
    max-width: 100%;
    height: 100vh;
    /*font-family: monospace;*/
    padding: 20px;
    color: white;
    font-family: "Chicago", monospace;
    /*font: 1.1rem Inconsolata, monospace;*/
    text-shadow: 0 0 5px #C8C8C8;
}
body::before {
    content: "";
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    pointer-events: none;   /* <-- IMPORTANT: let clicks go through */
    z-index: 9999;
    height: 100vh;
    background: repeating-linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.15),
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px,
    transparent 2px
    );
}

/*THESE ARE THE OUTPUTS CREATED BY THE COMMANDS RUN ON THE PAGE*/
#json-display {
    color:white;
    font-family: monospace;
}
#ping-output {
    color: white;
    font-family: monospace;
}
#trace-output {
    color: white;
    font-family: monospace;
}
#geo-display {
    color: white;
    font-family: monospace;
}
#mac-display {
    color: white;
    font-family: monospace;
}
#deep-display {
    color: white;
    font-family: monospace;
}
#public-output {
    color: white;
    font-family: monospace;
}
#port-output {
    color: white;
    font-family: monospace;
}
#latency-output {
    color: white;
    font-family: monospace;
}
.tool-button {
    font-family: monospace;
    font-size: 12px;
    border: azure;
    border-radius: 15px;
    background-color: #174292;
    text-decoration-color: white;
    cursor: pointer;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition: transform 150ms ease, background 200ms ease;
}

.tool-button:hover {
    background: #2ec7ea
}
.tool-button:focus {
    outline: 2px solid #99c7ff; outline-offset: 2px;
}
.tool-button.flash {
    transform: translateY(-5px) scale(3.03);
    box-shadow: 0 6px 12px rgba(0,0,0,0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease
}