/*this creates the spinner effect*/
.loader {
    display: none;
    position: relative;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #1e1e1e;
    border-bottom: 4px solid #090909;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 0.8s linear infinite;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
    margin-left: 10px;


}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
