/*this creates the spinner effect*/
.loader {
    display: none;
    position: relative;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-bottom: 4px solid #3498db;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    animation: spin 0.8s linear infinite;
    margin-left: 10px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}