<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mike DeFilippi">
    <meta name = "description" content = "Test">
    <title>Test Tool</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
</head>

<body>
            <h1>Chinese Device Detector</h1>

    <script src="{{ url_for('static', filename='js/animate_button.js')}}"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js')}}"></script>

    <form method="POST" action="/rtsp_client/" onsubmit="showSpinner(); return true;">
    <label>Field 1</label><br>
    <input name ="field1" required> <br><br>

    <label>Field 2</label><br>
    <input name ="field2" required> <br><br>

    <label>Password</label><br>
    <input name="password-field" type="password" required><br><br>

    <input type="submit" class="tool-button" value=" Connect and Run ">
</form>
{% if result %}
    <pre>{{ result }}</pre>
{% endif %}




<div class="button-menu">
    <a href="     " class="tool-button">Server Connection Test</a>

</div>


</body>
</html>





