<!DOCTYPE html>

<html lang="en">
<head>
    <title>X-TERM TEST</title>
    <script src="{{ url_for('static', filename='js/terminal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/client_ping.js')}}"></script>
    <script src="{{ url_for('static', filename='js/spinner.js')}}"></script>
    <script src="https://unpkg.com/xterm/lib/xterm.js"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">

</head>
<body>
<h2> X-TERM TEST </h2>
<i>Enter an IP address and rec</i>

<form id="latency-form" onsubmit="clientPing(event); return false;">
    Enter IP Address: <input name="latency-input" >
    <button type="submit"  class="tool-button">Test Latency</button>
    {#spinner bar stuff. this creates the spinner div to be defined in css#}
        <div id = "spinner" class= "loader"></div>
</form>

<div class = "wrap">
    <div id = "terminal" aria-label="Terminal">
</div>



<pre id ="latency-output"></pre>

{% if result %}
{{ result }}
{% endif %}
</body>
</html>