<!DOCTYPE html>
{#stop reading my html you piece of shit#}
<html lang="en">
<head>
    <title>Contact Me</title>
    <script src="{{ url_for('static', filename='js/terminal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/client_ping.js')}}"></script>
    <script src="{{ url_for('static', filename='js/spinner.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">

</head>
<h3>
<h2> Contact me </h2>
<i>Hello Friends!</i>

<h3>
If you have any questions, please feel free to email me.<br>
<br>Contact me at fingerprince333@gmail.com.<br>
<br>Any ideas or bugs encountered would be great to hear about.<br>
<br>I use this as a way to assist with my day-to-day work.<br>
<br>If it helps you, let me know!<br>

</h3>

<form >
</form>

<div class = "wrap"> </div>
<div id = "terminal" aria-label="Terminal">
</div>




<pre id ="latency-output"></pre>

{% if result %}
{{ result }}
{% endif %}

</body>

</html>
