<!DOCTYPE html>
{#stop reading my html you piece of shit#}
<html lang="en">
<head>
    <title>Contact Me</title>
    <script src="{{ url_for('static', filename='js/terminal.js')}}"></script>
    <script src="{{ url_for('static', filename='js/client_ping.js')}}"></script>
    <script src="{{ url_for('static', filename='js/spinner.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/xterm/css/xterm.css">


</head>

<h2> Contact me </h2>
<i>Hello Friends!</i>

<h4>
For bugs, insults or compliments,<br>
<br>Contact me at iptechtoolsnyc@gmail.com.<br>
<br>Thanks for visiting!<br>
<br> Mike D (admin)<br>
    <img src="{{url_for('static', filename='img/smiley.png') }}" alt="smiley" width="128" height="128">


</h4>

<form >
</form>

<div class = "wrap"> </div>
<div id = "terminal" aria-label="Terminal">
</div>




<pre id ="latency-output"></pre>

{% if result %}
{{ result }}
{% endif %}

</body>

</html>
