<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Mike DeFilippi"
    <meta name = "description" content = "This page contains
    tools for IT professionals designed to run lean and mean">
    <title>IP Browser tools</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/smiley.png') }}">
    <script src="{{ url_for('static', filename='js/animate_button.js')}}"></script>

</head>
<body>
<h2> Welcome to IP Tools </h2>
<img src="{{url_for('static', filename='img/smiley.png') }}" alt="smiley" width="128" height="128">
<h5> By Mike D </h5>
<a href="/ping" class="tool-button">Server Connection Test</a>
<a href="/geo" class="tool-button">Geolocator Tool</a>
<a href="/trace" class="tool-button">Trace Route</a>
<a href="/mac" class="tool-button">MAC Lookup</a>
<a href="/latency" class="tool-button">Latency Checker</a>
<a href="/deepgeo" class="tool-button">Deep Search</a>
<a href="/route_table" class="tool-button">Port Checker</a>
<a href="/public" class="tool-button">Grab Public IP</a>
<a href="/contact_me" class="tool-button">Contact me!</a>


</body>
</html>






















{#<a href="/ping">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937;#}
{#    	           padding: 4px 4px;#}
{#                   #}
{#     ">#}
{#    Ping#}
{#  </button>#}
{#    #}
{#<a href="/geo">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937; #}
{#    	           padding: 4px 4px;#}
{#     ">#}
{#    Geolocator</button>#}
{#    #}
{#<a href="/trace">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937;#}
{#    	           padding: 4px 4px;#}
{#     ">#}
{#    Trace Route</button>#}
{#    #}
{#<a href="/mac">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937;#}
{#    	           padding: 4px 4px;#}
{#     ">#}
{#    MAC Lookup</button>#}
{#<a href="/deepgeo">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937;#}
{#    	           padding: 4px 4px;#}
{#                   #}
{#     ">#}
{#    Deep Search#}
{#  </button>#}
{##}
{#<a href="/route_table">#}
{#    <button style="font-size: 24px;#}
{#                   border: none;#}
{#                   border-radius: 8px;#}
{#                   background-color: #FFD4CC;#}
{#                   cursor: pointer;#}
{#                   transition: background-color 0.3s;#}
{#     			   color: #CE5937;#}
{#    	           padding: 4px 4px;#}
{#  ">#}
{#    Route Table#}
{#    </button>#}