<!DOCTYPE html>

<html lang="en">
<head>
    <title>Latency Tool</title>
    <script src="{{ url_for('static', filename='js/client_ping.js')}}"></script>
    <script src="{{ url_for('static', filename='js/spinner.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/smiley.png') }}">
</head>
<body>
<h2> Latency Tool </h2>
<i>Enter an IP address to see latency.<br>
    Please note the recipient needs to have https enabled.
</i>

<form id="latency-form" onsubmit="clientPing(event); return false;">
    Enter IP Address: <input name="latency-input" >
    <button type="submit"  class="tool-button">Test Latency</button>
    {#spinner bar stuff. this creates the spinner div to be defined in css#}
        <div id = "spinner" class= "loader"></div>
</form>

<pre id ="latency-output"></pre>

{% if result %}
{{ result }}
{% endif %}
</body>
</html>