<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Server Ping Tool</title>
    <script src="{{ url_for('static', filename='js/render_json.js')}}"></script>
    <script src="{{ url_for('static', filename='js/spinner.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/page.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{url_for('static', filename='img/smiley.png') }}">
</head>

<body>
<h2> Server Side Ping </h2>
<i> Enter an IP address.<br>
    Please note this checks connection from the Linux server<br>
    this is hosted on. To check client side speed issues <br>
    please run the latency test.
</i>
<br><br>

{#Enter an IP address > show spinner on button click#}
<form method="POST" class = 'ping-output' onsubmit="showSpinner(); renderPingOutput(); return true;">
    Enter IP Address: <input name="ip" class="ip">
    {#Tool button class used to style buttons in css#}
    <button type="submit"  class="tool-button">Lookup</button>
<!---------- spinner bar stuff --------->   
<div id = "spinner" class= "loader"></div>
</form>

<pre id="ping-output"></pre>

{% if result %}
    <script>
    const output = '{{ result | replace('\r\n', '\\n') | replace('\n', '\\n') | replace("'", "\\'") }}'
    renderPingOutput(output)
    </script>
{% endif %}

</body>
</html>
